name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master", "dev" ]

  workflow_dispatch:

jobs:
  
  unit_testing:
    name: Unit-testing
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with: 
          distribution: 'corretto'
          java-version: '11'
          cache: 'gradle'
      - name: Run tests
        run: |
          cd ./SportApp
          chmod +x gradlew
          ./gradlew test
  
  build_and_upload_ui_test_apk:
    name: Build and upload APK for UI-testing in Firebase
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with: 
          distribution: 'corretto'
          java-version: '11'
          cache: 'gradle'
      - name: Build signed APK
        run: |
          cd ./SportApp
          chmod +x gradlew
          ./gradlew assembleRelease
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: TargetAPK
          path: SportApp/app/build/outputs/apk/release/app-release.apk
  
  run_ui_tests:
    name: UI-testing
    runs-on: ubuntu-20.04
    environment: actions_secrets
    needs: build_and_upload_ui_test_apk
    steps:
      - uses: actions/checkout@v3
      - name: Get target APK
        uses: actions/download-artifact@v3
        with:
          name: TargetAPK
      - name: Firebase auth with gcloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.FIREBASE_KEY }}
          project_id: ${{ secrets.PROJECT_ID }}
      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v1
      - name: Run UI Tests in Test Lab
        run: |
          chmod +wx SportApp
          gcloud firebase test android run --app app-release.apk --robo-script SportApp/app/ui_test/robo_script.json --device model=Pixel5,version=30,locale=en,orientation=portrait
